.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.225);
  width: 350px;
  height: 266px;
  margin: 1%;
  /* border:1px solid black; */
}
.thumbnail:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.225);
}
.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.225);
}
.card:hover {
  transform: scale(1.1);
  opacity: 1.5;
  transition: 0.3s;
}
.center {
  margin: auto;
}
.price {
  text-align: left;
  color: red;
  font-size: 1.25rem;
}
.title {
  text-align: left;
  color:steelblue;
  font-size: 1.25rem;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.active {
  border: 2px solid black;
  color: #888;
  pointer-events: none;
}
